<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gdn -->
      <package
            uri="http://www.mdelab.de/mlsdm/gdn/1.0"
            class="de.mdelab.mlsdm.gdn.GdnPackage"
            genModel="model/gdn.genmodel"/>
   </extension>

</plugin>
